.registro {
  padding: 40px;
  margin: 40px auto 40px auto;
}

a {
  text-decoration: none;
  color: black;
}

.backgroundIMG {
  background-image: url("./twitterbg.png");
  width: auto;
  height: auto;
  min-height: 500px;
  min-width: 500px;

  background-size: auto;
  background-repeat: no-repeat;
}
